{% extends 'customer_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load bootstrap_tags %}
{% block content %}

  <style type="text/css">

  	body {
  		/*background: linear-gradient(to bottom, #0066cc, #0000ff);*/
        background: none;
        color: black;

  	}
.form-style-1 {
	margin:5px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #ff80ff;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
}
.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 10px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #ff80ff;
}

.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: none;
	padding: 8px 15px 8px 15px;
	border: 2px solid green;
	color: green;
	border-radius: 10px;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: orange;
	-moz-box-shadow:0 0 15px #88D5E9;
	-webkit-box-shadow:0 0 15px #88D5E9;
}
.form-style-1 .required{
	color:red;
}

.form-control {
    border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 1px solid #ff80ff;
    padding: 10px 10px;
    width: 400px;
    height: auto;
    outline: 2px solid black;
    color: black;
    border-radius: 0px 0px 20px 20px;
    transition: 0.6s;
}


#field6 {
    border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #ff80ff;
    padding: 10px 10px;
    width: 400px;
    height: auto;
    border: 1px solid #ff80ff;
    outline: none;
    color: black;
    border-radius: 0px 0px 20px 20px;
    transition: 0.6s;
}

#field2 {
    border: 0;
    background: none;
    display: block;
    border: 1px solid #ff80ff;
    margin: 10px auto;
    text-align: center;
    padding: 10px 10px;
    width: 400px;
    height: auto;
    outline: none;
    color: black;
    /*background: b;*/
    border-radius: 0px 0px 20px 20px;
    transition: 0.6s;
}

#fielde {
     border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    padding: 10px 10px;
    width: 400px;
    border: 1px solid #ff80ff;
    height: auto;
    outline: none;
    color: black;
    /*background: b;*/
    border-radius: 0px 0px 20px 20px;
    transition: 0.6s;
}


.box {
	width: 1000px;
    padding: 0px;
    position: absolute;
    top: 0px;
    left: 15%;
    background: noe;
    text-align: left;
    transition: 0.25s;
    margin-top: 150px;
    box-shadow: 0 0 3px #88D5E9;

}


label {
	color: white;
}

.errors {
    color: red;
}

li{
    color: red;
    list-style-type: none;
}
label {
    color: black;
}

</style>


{%if product_in_cart%}

<form method="post" class="box">
  {% csrf_token %}
  {{ addressForm.media }}
<ul class="form-style-1">
    <li>
        <label>Email <span class="required">*</span></label>
        {% render_field addressForm.Email class="form-control" placeholder="Email" %}

    </li>
    <li>
        <label>Mobile <span class="required">*</span></label>
        {% render_field addressForm.Mobile class="form-control" placeholder="Mobile" %}
        {% if addressForm.Mobile.errors %}
            <p class="errors">{{ addressForm.Mobile.errors }}</p>
        {% endif %}
    </li>
    <li>
        <label>expected time <span class="required">*</span></label>
        {% render_field addressForm.expected_time class="form-control" id="fielde" %}
        {% if addressForm.expected_time.errors %}
            <p class="errors">{{ addressForm.expected_time.errors }}</p>
        {% endif %}
    </li>
    <li>

         <label> delivery shift <span class="required">*</span></label>
        {% render_field addressForm.shift id="field2" class="form-control"  %}
    </li>

    <li>
        <label>Shipment Address <span class="required">*</span></label>
        {% render_field addressForm.Address id="field5" class="form-control" placeholder="Building Number,city" %}

    </li>

    <li>

    	 <label> monthly </span></label>
        {% render_field addressForm.monthly id="field6" %}
    </li>

    <li>
        <input type="submit" value="Proceed To Pay" />
    </li>
</ul>

</form>
{%else%}
<br><br>
<h1 style="text-align:center; color:red;"> First Add Product In Cart </h1>
<br><br><br><br><br><br><br><br><br><br>
{%endif%}

<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
{% endblock content %}
